body {
  height: 100%;
  margin: 0;
  background-image: url("door-pixilart.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment:fixed;
}

p {
padding-left:900px;
padding-top:300px;
}

.invis a:link, .invis a:visited, .invis a {
color:black
}

.invis{
padding-left:50px;
}

a:link {
  background-color: transparent;
  text-decoration: underline;
}

a:visited {
  color:goldenrod;
  background-color: transparent;
  text-decoration: underline;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}
